@charset "UTF-8";
/* ---------------------- */
/* toppage style
/* ---------------------- */
/* ---------------------- */
/* base
/* ---------------------- */
html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  color: #333;
  font-size: 1.6rem;
  font-family: 'Montserrat','游ゴシック体', sans-serif;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.clearfix:before {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.section-wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.section-tit {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.068em;
  margin-bottom: 30px;
}

@media only screen and (max-width: 481px) {
  .section-tit {
    font-size: 2.8rem;
  }
}

.link-btn {
  padding: 12px 42.5px;
  background-color: #000;
}

.link-btn a {
  letter-spacing: 0.015em;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.container_1100 {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.gray-bg {
  background-color: #F0F0F0;
}

.txt-r-pc {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .txt-r-pc {
    text-align: left;
  }
}

@media only screen and (max-width: 481px) {
  .mb-sp-tb {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mb-sp-tb {
    margin-bottom: 80px;
  }
}

.pos-r {
  position: relative;
}

/* -----------header----------- */
.header {
  width: 100%;
  padding: 0 58px;
  position: absolute;
  z-index: 3;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 481px) {
  .header {
    padding: 0 15px;
  }
}

.site-logo {
  width: 260px;
  height: 28.2px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .site-logo {
    width: 189px;
    height: 20.61px;
  }
}

.site-logo img {
  height: 100%;
}

.burger-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.burger-btn {
  width: 22px;
  height: 10px;
  position: relative;
  margin-right: 7px;
}

.bar {
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 22px;
  -webkit-transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,-webkit-transform .3s;
  transition: opacity .3s,transform .3s;
  transition: opacity .3s,transform .3s,-webkit-transform .3s;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 5px;
}

.bar3 {
  top: 10px;
}

.bar1.bar_active {
  -webkit-transform: rotate(-30deg) translate(0, 6px);
          transform: rotate(-30deg) translate(0, 6px);
}

.bar2.bar_active {
  opacity: 0;
}

.bar3.bar_active {
  -webkit-transform: rotate(30deg) translate(0, -6px);
          transform: rotate(30deg) translate(0, -6px);
}

.burger-menu-txt {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
}

.burger-mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.h-nav {
  -webkit-transform: translatex(150%);
          transform: translatex(150%);
  width: 36.11vw;
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.95);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity .5s,-webkit-transform .5s;
  transition: opacity .5s,-webkit-transform .5s;
  transition: transform .5s,opacity .5s;
  transition: transform .5s,opacity .5s,-webkit-transform .5s;
  z-index: 2;
}

@media only screen and (max-width: 481px) {
  .h-nav {
    width: 80vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .h-nav {
    width: 60vw;
  }
}

.h-nav.nav_active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 20%;
  text-align: center;
}

.nav-item {
  font-size: 2rem;
  letter-spacing: 0.068em;
  font-weight: bold;
  margin-bottom: 30px;
}

@media only screen and (max-width: 481px) {
  .nav-item {
    font-size: 1.8rem;
  }
}

.nav-item:last-of-type {
  margin-bottom: 0;
}

.nav-simbol {
  width: 42.15px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto 40px;
}

/* -----------fv----------- */
.fv {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-bottom: 120px;
}

@media only screen and (max-width: 481px) {
  .fv {
    margin-bottom: 78px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .fv {
    margin-bottom: 80px;
  }
}

.mv {
  background-image: url("../image/kv-img@2x.jpg");
  background-repeat: no-repeat;
  width: 76.38vw;
  height: 86.48vh;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 481px) {
  .mv {
    width: 76.53vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .mv {
    width: 78.12vw;
  }
}

.kv {
  position: absolute;
  top: 0;
  right: 0;
  width: 54.16vw;
  height: 100vh;
  background-color: #222;
}

@media only screen and (max-width: 481px) {
  .kv {
    width: 75.46vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .kv {
    width: 73.17vw;
  }
}

.main-copy-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 37.69%;
  color: #fff;
  z-index: 2;
  font-weight: bold;
}

@media only screen and (max-width: 481px) {
  .main-copy-wrap {
    right: 20px;
    left: auto;
  }
}

.copy-ja,
.copy-company {
  font-size: 2rem;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .copy-ja,
  .copy-company {
    font-size: 1.6rem;
  }
}

.copy-ja {
  margin-bottom: 8px;
}

.copy-company {
  margin-bottom: 10px;
}

.main-copy {
  font-size: 7.2rem;
}

@media only screen and (max-width: 768px) {
  .main-copy {
    font-size: 5.6rem;
    letter-spacing: 0.063em;
  }
}

/* -----------about----------- */
.container-a {
  margin-bottom: -100px;
}

@media only screen and (max-width: 481px) {
  .container-a {
    margin-bottom: 0;
  }
}

.about-bg {
  background-image: url("../image/about-img@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 607px;
  position: relative;
}

@media only screen and (max-width: 481px) {
  .about-bg {
    height: auto;
    padding: 50px 15px;
  }
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 50px;
  padding: 50px 30px 61px;
  max-width: 590px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}

@media only screen and (max-width: 481px) {
  .about-content {
    position: static;
    -webkit-transform: none;
            transform: none;
    padding: 50px 15px 50px 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 40px 30px;
  }
}

.about-lead {
  line-height: 2;
  margin-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 481px) {
  .about-lead {
    font-size: 1.4rem;
    line-height: 2;
  }
}

/* -----------works-culture----------- */
.container-wc {
  padding: 180px 0 60px;
}

@media only screen and (max-width: 481px) {
  .container-wc {
    padding: 40px 15px;
  }
}

.flex-wc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 60px;
}

@media only screen and (max-width: 768px) {
  .flex-wc {
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .flex-wc {
    padding: 60px 0 40px 30px;
  }
}

.flex-wc img {
  width: 100%;
  max-width: 520px;
}

.works-lead,
.culture-lead {
  margin: 30px 0;
}

/* -----------topics----------- */
.container-t {
  padding: 60px 0;
}

@media only screen and (max-width: 481px) {
  .container-t {
    padding: 40px 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container-t {
    padding: 40px 38px 40px 30px;
  }
}

.relative {
  position: relative;
}

.topics-list {
  float: right;
  width: 700px;
  margin-bottom: 43px;
}

@media only screen and (max-width: 481px) {
  .topics-list {
    width: 100%;
    float: none;
  }
}

.topics-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.topics-item a {
  letter-spacing: 0.004em;
  padding: 12.5px 0;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 481px) {
  .topics-item a {
    font-size: 1.2rem;
    line-height: 1.66667;
    letter-spacing: 0.068em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .topics-item a {
    font-size: 1.4rem;
  }
}

.topics-item:last-of-type {
  margin: 0;
}

.topics-date {
  font-size: 1rem;
  color: #CECECE;
  font-weight: bold;
}

/* -----------contact----------- */
.container-c {
  padding: 60px 0 120px;
}

@media only screen and (max-width: 481px) {
  .container-c {
    padding: 40px 15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container-c {
    padding: 40px 0px 80px 30px;
  }
}

.flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .flex-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.contact-r-img {
  width: 580px;
}

@media only screen and (max-width: 481px) {
  .contact-r-img {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-r-img {
    width: 520px;
    margin-bottom: 30px;
  }
}

.contact-r-img img {
  width: 580px;
}

@media only screen and (max-width: 481px) {
  .contact-r-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-r-img img {
    width: 520px;
  }
}

.contact-lead {
  line-height: 2;
  margin: 0 80px 30px 0;
}

@media only screen and (max-width: 481px) {
  .contact-lead {
    margin: 0 0 30px;
  }
}

/* -----------footer----------- */
.footer {
  background-color: #525252;
  text-align: center;
  padding: 20px 0;
}

small {
  font-size: 1rem;
  letter-spacing: 0.015em;
  color: #fff;
}

/* ---------------------- */
/* aboutpage style
/* ---------------------- */
#about {
  /* -----------fv----------- */
  /* -----------vision----------- */
}

#about .section-wrap {
  padding: 0 0 120px;
}

@media only screen and (max-width: 481px) {
  #about .section-wrap {
    padding: 0 15px 80px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #about .section-wrap {
    padding: 0 30px 80px;
  }
}

#about .section-content {
  position: relative;
}

#about .fv {
  width: 100vw;
  height: 464px;
  position: relative;
  margin-bottom: 120px;
}

@media only screen and (max-width: 481px) {
  #about .fv {
    margin-bottom: 78px;
    height: 449px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #about .fv {
    margin-bottom: 80px;
    height: 615px;
  }
}

#about .mv {
  background-image: url("../image/heading-img@2x.jpg");
  background-repeat: no-repeat;
  height: 387px;
}

@media only screen and (max-width: 481px) {
  #about .mv {
    width: 76.53vw;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #about .mv {
    height: 529px;
  }
}

#about .kv {
  height: 100%;
  width: 52.8vw;
}

#about .main-copy-wrap {
  left: 170px;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
}

@media only screen and (max-width: 481px) {
  #about .main-copy-wrap {
    left: auto;
    right: 29px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #about .main-copy-wrap {
    left: auto;
    right: 98px;
  }
}

#about .page-tit {
  font-size: 7.2rem;
  letter-spacing: 0.063em;
  margin-bottom: 5px;
}

@media only screen and (max-width: 481px) {
  #about .page-tit {
    font-size: 5.2rem;
    letter-spacing: 0;
  }
}

#about .page-sub-tit {
  font-size: 2rem;
  letter-spacing: 0.005em;
}

@media only screen and (max-width: 481px) {
  #about .page-sub-tit {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}

#about .vision-txt {
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 768px) {
  #about .vision-txt {
    font-size: 1.4rem;
    line-height: 2;
  }
}

#about .vision-wrap {
  max-width: 415px;
  width: 100%;
  margin-left: 226px;
}

@media only screen and (max-width: 481px) {
  #about .vision-wrap {
    margin-left: 0;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #about .vision-wrap {
    margin-left: 130px;
  }
}

#about .vision-sub-tit {
  font-size: 2.4rem;
  letter-spacing: 0.005em;
  margin-bottom: 34px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #about .vision-sub-tit {
    font-weight: normal;
  }
}

/* ----------aboutpage---------- */
/* ----------ceo message---------- */
.ceo-img {
  position: absolute;
  max-width: 420px;
  display: block;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 481px) {
  .ceo-img {
    left: -15px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ceo-img {
    max-width: 320px;
  }
}

.ceo-message-wrap {
  max-width: 770px;
  margin-left: auto;
  padding: 120px 0 90px;
  width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ceo-message-wrap {
    width: 494px;
    padding: 109px 0 78px;
  }
}

.ceo-message {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 29px 0px 28px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ceo-message {
    padding: 0;
  }
}

.ceo-message-txt {
  line-height: 2;
  font-family: 'Noto Sans JP', sans-serif;
}

@media only screen and (max-width: 481px) {
  .ceo-message-txt {
    font-size: 1.4rem;
    line-height: 2;
  }
}

.ceo-pad {
  padding-top: 144px;
}

@media only screen and (max-width: 481px) {
  .ceo-pad {
    padding-top: 124px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .ceo-pad {
    padding-top: 134px;
  }
}

/* -----------company----------- */
.company-info {
  max-width: 800px;
  margin-left: auto;
  margin-bottom: 40px;
  letter-spacing: 0.004em;
}

@media only screen and (max-width: 481px) {
  .company-info {
    font-size: 1.4rem;
  }
}

.company-info div {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.company-info dt {
  width: 160px;
}

@media only screen and (max-width: 481px) {
  .company-info dt {
    font-weight: normal;
  }
}

.border-b {
  border-bottom: 1px solid #ddd;
}

.map {
  height: 360px;
  width: 100%;
}

@media only screen and (max-width: 481px) {
  .map {
    height: 470px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .map {
    height: 230px;
    width: 708px;
  }
}

/* ---------------------- */
/* contactpage style
/* ---------------------- */
#contact {
  letter-spacing: 0.004em;
  line-height: 1.5;
  /* -----------fv----------- */
}

#contact .fv {
  width: 100vw;
  height: 464px;
  position: relative;
  margin-bottom: 120px;
}

@media only screen and (max-width: 481px) {
  #contact .fv {
    margin-bottom: 78px;
    height: 365px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #contact .fv {
    margin-bottom: 80px;
    height: 615px;
  }
}

#contact .mv {
  background-image: url("../image/heading-img_contact@2x.jpg");
  background-repeat: no-repeat;
  height: 387px;
}

@media only screen and (max-width: 481px) {
  #contact .mv {
    width: 76.53vw;
    height: 270px;
    background-image: url("../image/heading-img_contact_sp@2x.jpg");
    background-repeat: no-repeat;
  }
  #contact .mv::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.34);
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #contact .mv {
    height: 529px;
  }
}

#contact .kv {
  height: 100%;
  width: 52.8vw;
}

#contact .main-copy-wrap {
  left: 170px;
  color: #fff;
  z-index: 2;
  font-weight: bold;
  white-space: nowrap;
}

@media only screen and (max-width: 481px) {
  #contact .main-copy-wrap {
    left: auto;
    right: 29px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #contact .main-copy-wrap {
    left: auto;
    right: 98px;
  }
}

#contact .page-tit {
  font-size: 7.2rem;
  font-weight: bold;
  letter-spacing: 0.063em;
  margin-bottom: 5px;
}

@media only screen and (max-width: 481px) {
  #contact .page-tit {
    font-size: 5.2rem;
    letter-spacing: 0;
  }
}

#contact .page-sub-tit {
  font-size: 2rem;
  letter-spacing: 0.005em;
}

@media only screen and (max-width: 481px) {
  #contact .page-sub-tit {
    font-size: 1.6rem;
    letter-spacing: 0;
  }
}

#contact .contact-wrap {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 481px) {
  #contact .contact-wrap {
    padding: 0 15px;
  }
}

#contact .input-wrap {
  margin: 48px 0;
}

@media only screen and (max-width: 481px) {
  #contact .input-wrap {
    margin: 40px 0;
  }
}

#contact .txt-c {
  text-align: center;
}

@media only screen and (max-width: 481px) {
  #contact .txt-c {
    text-align: left;
  }
}

#contact .input-wrap:nth-of-type(1) {
  margin: 0;
}

#contact .contact-txt {
  line-height: 1.5;
  letter-spacing: 0.004em;
  margin-bottom: 55px;
}

#contact .br-sp {
  display: none;
}

@media only screen and (max-width: 481px) {
  #contact .br-sp {
    display: inline;
  }
}

#contact .details-wrap {
  margin-top: 48px;
}

#contact .details-wrap .form-label {
  margin: 0 50px 0 0;
  display: inline-block;
}

@media only screen and (max-width: 481px) {
  #contact .details-wrap .form-label {
    margin: 0 0 15px 0;
  }
}

@media only screen and (max-width: 481px) {
  #contact .details-wrap .form-label:last-of-type {
    margin: 0;
  }
}

#contact .details-txt {
  display: inline-block;
  margin-bottom: 23px;
}

#contact .form-label {
  margin-bottom: 10px;
  display: inline-block;
}

#contact h3.form-label {
  font-weight: bold;
  font-family: 'Montserrat','游ゴシック体', sans-serif;
}

#contact .required {
  margin-left: 15px;
  display: inline-block;
  padding: 3px 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.004em;
}

#contact .input_normal {
  width: 100%;
  height: 41px;
  border: 1px solid #333;
}

#contact .input_details {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

#contact input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: -4px;
}

#contact .input_details:checked {
  background-color: #333;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 0 0 1px #333;
          box-shadow: 0 0 0 1px #333;
}

#contact textarea,
#contact .privacy-txt {
  border: 1px solid #333;
  padding: 10px;
}

#contact .ta-inquiry {
  max-width: 700px;
  width: 100%;
  height: 212px;
}

#contact .privacy-txt {
  max-width: 700px;
  width: 100%;
  height: 252px;
  overflow-y: scroll;
}

#contact input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: -4px;
  margin-right: 10px;
}

#contact input[type="checkbox"] + label {
  display: inline;
}

#contact input[type="submit"] {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 170px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 120px;
}

#contact .scroll-bar-wrap {
  position: absolute;
  left: -22px;
  bottom: 39px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  display: none;
}

@media only screen and (max-width: 481px) {
  #contact .scroll-bar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#contact .scroll-bar-wrap span {
  display: block;
}

#contact .scroll {
  font-size: 1.2rem;
  letter-spacing: 0.038em;
  font-weight: bold;
  margin-right: 7.5px;
}

#contact .scroll-bar {
  width: 34px;
  position: relative;
  height: 1px;
  background-color: #000;
}

#contact .scroll-bar::after {
  height: 1px;
  width: 84px;
  content: '';
  background-color: #fff;
  position: absolute;
  left: 34px;
  top: 0;
  z-index: 999;
}
/*# sourceMappingURL=style.css.map */